@font-face{font-family:'Typo'; src: font-url('Typo_DecoSolidSlash.ttf')}
@font-face{font-family:'Ssang'; src: font-url('Typo_SsangmunDongB.ttf')}
@font-face{font-family:'Hoon'; src: font-url('HoonWhitecatR.ttf')}
@font-face{font-family:'Left'; src: font-url('THELeft.ttf')}
@font-face{font-family:'Baram'; src: font-url('BaramB.ttf')}
@font-face{font-family:'sangsang'; src: font-url('sangsang.ttf')}
@font-face{font-family:'BMJUA'; src: font-url('BMJUA.woff')}
@font-face{font-family:'ppp'; src: font-url('ppp.ttf')}

body, table, div, p {font-family:'ppp';}